html {
  box-sizing: border-box;
  font-size: $large-font-size;
  line-height: $base-line-height;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $background-color;
  color: $text-color;
  font-family: $base-font-family;
  font-size: $large-font-size;
  margin: 0;
  padding: 0;
  @media screen and (max-width: $screen-sml) {
    font-size: $medium-font-size;
  }
}

a {
  color: $orange-deep;
  text-decoration: none;
  transition: color 0.1s ease-in;

  &:active, &:hover {
    color: $orange-light;
  }
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

nav {
  margin: 0;
  padding: 0.5em 0.5em;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 1em;
}

nav li:last-child {
  margin-right: 0;
}

.subnav {
  max-width: 35em;
  margin: 0 auto 3em;
  padding: 0 1em; 
}

.subnav--line {
  display: flex;
  flex-direction: row;
  line-height: 1.25;
  margin-bottom: 0.5em;
}

.subnav--tag {
  display: inline-block;
  min-width: 4em;
}

section {
  margin: 0;
}

.wrapper--nopad {
  margin: 0 -1em;
}

.block {
  margin-top: 3em;
  margin-bottom: 3em;
}

.block--extra {
  margin: 0 0 3em;
  padding: 0 1em;
}

object,
img {
  width: 100%;
}

hr {
  border: none;
  border-bottom: 1px dotted;
  padding: 1em 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  margin: 3em auto;
  max-width: 35em;
  padding: 0 1em;
}

button,
.btn {
  font-size: 1em;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  background: $blue;
  border: solid $blue;
  border-width: 3px;
  border-radius: 4px;
  outline: none; 
  padding: 0.4em 1em;
  text-align: center;
  margin: 0.25em 0.125em;
  max-width: 12em;
  transition: all 0.2s ease;

  &:hover,
  &:active { 
    background: lighten($blue-dark, 10%);
  }
  &:active {
    background: $blue-dark;
    
  }
  &:focus {
    outline: none;
    background: $blue-dark;
  }
}

.blue {
  color: $blue;
}

.logo {
  position: fixed;
  top: 0;
  left: 0;
  line-height: 1;
  color: #fff;
  height: 10px;
  width: 10px;
  font-size: 16px;
}

#logo-circle:hover {
  fill: $orange-deep;
  transition: fill 0.2s ease-in;
}
