html {
  box-sizing: border-box;
  font-size: $large-font-size;
  line-height: $base-line-height;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $background-color;
  color: $text-color;
  font-family: $base-font-family;
  font-size: $large-font-size;
  margin: 0;
  padding: 0;
  @media screen and (max-width: $screen-sml) {
    font-size: $medium-font-size;
  }
}

a {
  color: $text-color;
  text-decoration: none;
  border-bottom: 1px solid #999;
  transition: border 0.1s ease-in;

  &:active, &:hover {
    border-bottom: 2px solid $brand-purple;
  }
}

::selection {
  color: $text-color;
  background: $background-yellow;
}

section {
  margin: 0;
}

@mixin grid-50-50 {
  @media (min-width: $screen-mid) {
    display: flex;
    justify-content: space-between;
  }
}

@mixin wrapper-mid {
  max-width: 640px; 
  margin-left: auto;
  margin-right: auto;
}

@mixin wrapper-big {
  max-width: 1200px; 
  margin-left: auto;
  margin-right: auto;
}

.wrapper--nopad {
  margin: 0 -1em;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

nav {
  margin: 0;
  padding: 0.5em 0.5em 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 1em;
}

.subnav {
  @include wrapper-mid;
  margin: 0 auto 3em;
  padding: 0 1em; 
}

.subnav--line {
  display: flex;
  flex-direction: row;
  line-height: 1.25;
  margin-bottom: 0.5em;
}

.subnav--tag {
  display: inline-block;
  min-width: 4em;
}

.block {
  display: block;
  padding: 1em;
}

object,
img {
  width: 100%;
}

hr {
  border: none;
  border-bottom: 1px dotted;
  padding: 1em 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  @include wrapper-mid;
  margin: 2em auto 2em;
  padding: 0 1em;
}

button,
.btn {
  font-size: 1em;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  background: $blue;
  border: solid $blue;
  border-width: 3px;
  border-radius: 4px;
  outline: none; 
  padding: 0.4em 1em;
  text-align: center;
  margin: 0.25em 0.125em;
  max-width: 12em;
  transition: all 0.2s ease;

  &:hover,
  &:active { 
    background: lighten($blue-dark, 10%);
  }
  &:active {
    background: $blue-dark;
    
  }
  &:focus {
    outline: none;
    background: $blue-dark;
  }
}

.blue {
  color: $blue;
}

.red {
  color: $red;
}

.orange {
  color: $orange;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $background-color;
  border-radius: 0 0 50% 0;
  color: #fff;
  height: 50px;
  width: 50px;
  font-size: 16px;
  line-height: 1;
  margin: 0 2px 2px 0;
  z-index: 9999;
}

#svg-logo--path,
#svg-logo--path2,
#svg-logo--path3 {
  fill: #000 !important;
}



a.logo,
a.logo:active,
a.logo:hover {
  border: none;
}  

a.logo:hover #svg-logo--path {
  fill: $brand-purple !important;
  transition: fill 0.2s ease-in;
} 


