.home-main {
  display: block;
  max-width: 64em; 
  margin: 0 auto;
  @media screen and (min-width: 64em) {
    display: flex;
    justify-content: flex-start;
  }
}

.home-left,
.home-right {
  max-width: 35em; 
  margin: 0 auto;
  padding: 0 1em;
}

.home-left {
  flex-grow: 2;
  @media screen and (min-width: 64em) {
    margin-right: 2em;
  }
}

.home-right {
  flex-grow: 2;
}

.home-highlight {
  background: $background-yellow;
  padding: 0.125em 0.25em 0.05em;
  border-radius: 5px;
}

.home-content h2 {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.25;
  color: $black;
  margin: 1.33em 0 0.66em;
}

.word-highlight {
  color: $blue;
}

.block-email--title {
  margin: 0;
}

.block-email--email  {
  margin: 0;
}

.block-email--email a {
  font-weight: bold;
  font-size: 1.25em;
}

