$radius: 4px; 

// colors
$text-color:          #383838;
$background-color:    #faf7f5;
$black:               #222;
$white:               #fff;

$screen-big:          1024px;
$screen-mid:          768px;
$screen-sml:          568px;

@mixin wrapper-mid {
  max-width: 680px; 
  margin-left: auto;
  margin-right: auto;
}

@mixin wrapper-big {
  max-width: 1200px; 
  margin-left: auto;
  margin-right: auto;
}

@mixin monospace-block {
  font-size: 15px;
  font-family: $monospace;
  line-height: 1.5;
  
  @media screen and (max-width: $screen-sml) {
    font-size: 13px;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
  @media print {
    color: $grey-dark;
  }
}

::selection {
  color: $black;
  background: $background-yellow;
}

section {
  margin: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

.wrapper--media {
  max-width: 1000px;
  margin: 0 auto 1em;
  padding-top: 1rem;
  padding-bottom: 1rem;
  @media (max-width: $screen-big) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.post-list .wrapper--media {
  padding-top: 0;
  padding-bottom: 0.25rem;
  margin-bottom: 0.25rem;
}

.wrapper--media-background {
  width: 100%;
  margin: 0;
}

.wrapper--media-background-top {
  background-color: #000;
  width: 100%;
  margin: 0;
  padding: 0;
}

.image-in-article-wrapper {
  margin-left: -1em;
  margin-right: -1em;
}

.block {
  display: block;
  padding: 1em;
}

object,
img {
  width: 100%;
}

hr {
  border: none;
  border-bottom: 1px dotted;
  padding: 1em 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.display-none {
  display: none;
}
