ul,
ol {
  padding: 0;
  margin: 0 0 1em;
}

ul li,
ol li {
  margin-left: 1em;
  margin-bottom: scale1(8);
  @media (max-width: $screen-sml) {
    margin-bottom: scale2(8);
  }
}

li ol,
li ul {
  margin-top: scale1(7);
  margin-bottom: scale1(7);
  @media (max-width: $screen-sml) {
    margin-top: scale2(7);
    margin-bottom: scale2(7);
  }
}

.list-title {
  color: $black;
  font-weight: bold;
  line-height: 1.25;
  margin-bottom: 0.5em;
}

.list--contacts {
  display: flex;
  justify-content: space-between; 
  @media (max-width: $screen-mid) {
    flex-direction: column;
  }
}

.list--contacts li {
  display: flex;
  list-style: none;
  margin: 0 1em 0 0;
}

.list--contacts li:last-child {
  margin: 0;
}

.list-contacts-tag {
  @media (max-width: $screen-mid) {
    display: inline-block;
    min-width: 4em;
  }
}

.post-list {
  margin: scale1(13) 0 scale1(10);
  @media (max-width: $screen-sml) {
     margin: scale2(13) 0 scale2(10);
  }
}

.post-list > li {
  font-weight: normal;
  margin: 0 0 0.5em;
  list-style: none;
  &:last-of-type {
    margin: 0;
  }
}

.post-list h1 {
  font-weight: bold;
  font-size: scale1(12);
  font-weight: 600;
  line-height: 1.25;
  color: $black;
  margin-top: 0.66em;
  margin-bottom: 0.66em;
  @media (max-width: $screen-sml) {
    font-size: scale2(12);
  }
}

.post-list h2 {
  font-size: scale1(10);
  font-weight: bold;
  line-height: 1.25;
  margin-top: scale1(10);
  margin-bottom: scale1(10);

  @media (max-width: $screen-sml) {
    font-size: scale2(10);
    margin-top: scale2(10);
    margin-bottom: scale2(10);
  }
}

.post-list h3 {
  font-size: scale2(10);
  font-weight: normal;
  line-height: 1.5;
  margin-top: 1em;
  margin-bottom: 1em;
  @media (max-width: $screen-sml) {
    font-size: scale2(10);
  }
}

.post-list--post {  
  margin: 0 auto scale1(13);
  @media (max-width: $screen-sml) {
    margin-bottom: scale2(13);
  }
  &:last-of-type {
    margin-bottom: 1em;
  }
}

.post-list--post-title,
h2.post-list--post-title,
h3.post-list--post-title {
  font-weight: bold;
  font-size: scale1(11);
  font-weight: 600;
  line-height: 1.25;
  color: $black;
  margin-top: scale1(10);
  margin-bottom: scale1(10);

  & a {
    border-bottom: 2px solid $background-color;
    &:hover, :focus {
      border-bottom: 2px solid $blue-light;
    }
  }

  @media (max-width: $screen-sml) {
    font-size: scale2(11);
    margin-top: scale2(10);
    margin-bottom: scale2(10);
  }
}

.list--home {
  margin-bottom: 2em;
}


