
.masthead {
  margin: 2em auto;
  padding: 2em 0;
}

.masthead-mini {
  background-color: $orange-deep;
  margin: 0 auto 3em;
  padding: 0.66em 1em 0.66em;
  text-align: center;
  @media (max-width: $screen-sml) {
    text-align: left;
  }
}

.masthead--content {
  @include wrapper-big;
  padding: 0 1em;
}

.masthead--title {
  font-size: 3em;
  line-height: 1;
  letter-spacing: -0.025em;
  margin: 0;
  max-width: 12em;
  @media (max-width: $screen-sml) {
    font-size: 2em;
  }
}

.masthead-mini--title {
  color: $background-color;
  font-size: 0.75em;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 0.075em;
  margin: 0 auto;
  text-transform: uppercase;
}

.masthead-mini--title a {
  color: $background-color;
  border: none;
  text-decoration: none;
  &:hover, :focus {
    color: $black;
  }
  transition: color 0.2s ease-in;
}

.masthead--subtitle {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: -0.025em;
  margin: 0.25em 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  @media (max-width: $screen-sml) {
    font-size: 1em;
  }
}

.page-masthead {
  margin: 1em 0;
  @include wrapper-mid;
}

.page-masthead--title {
  font-size: 1.25em;
  line-height: 1.25;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}