
.masthead {
  margin: 2em auto;
  padding: 2em 0;
}

.masthead-mini {
  background-color: transparent;
  font-size: scale1(9);
  margin: 0 auto;
  padding: scale1(8);
  text-align: center;
  @media (max-width: $screen-sml) {
    font-size: scale2(9);
    margin-bottom: scale2(13);
    padding: scale2(8);
    text-align: left;
  }
}

.masthead--content {
  @include wrapper-big;
  padding: 0 1em;
}

.masthead--title {
  font-size: 3em;
  line-height: 1;
  letter-spacing: -0.025em;
  margin: 0;
  max-width: 12em;
  @media (max-width: $screen-sml) {
    font-size: 2em;
  }
}

.masthead-mini--title {
  color: $background-color;
  font-size: scale1(9);
  font-weight: normal;
  line-height: 1;
  letter-spacing: 0.075em;
  margin: 0 auto;
  text-transform: uppercase;
  @media (max-width: $screen-sml) {
    font-size: scale2(9);
  }
}

.masthead-mini--title a {
  color: $black;
  border: none;
  text-decoration: none;
  &:hover, :focus {
    color: $blue-light;
  }
  transition: color 0.2s ease-in;
}

.masthead--subtitle {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: -0.025em;
  margin: 0.25em 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  @media (max-width: $screen-sml) {
    font-size: 1em;
  }
}

.page-masthead {
  margin: 1em 0;
  @include wrapper-mid;
}

.page-masthead--title {
  font-size: 1.25em;
  line-height: 1.25;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}