
.masthead {
  max-width: 35em;
  margin: 0 auto;
  padding: 0 1em;
  text-align: center;
}

.masthead---title {
  font-size: 3em;
  line-height: 1;
  letter-spacing: -0.025em;
  margin: 1em 0 1em;
  //text-align: center;
  @media (max-width: $screen-sml) {
    font-size: 2.5em;
  }
}

