
// fibonacci
@function fib($n) {
  $a: 0; 
  $b: 1;
  $temp: 0;
  @while $n > 0 {
    $temp: $a;
    $a:    $b;
    $b:    $temp + $b;
    $n:    $n - 1;
  }
  @return $a;
}

/*
@function fib($n) {
  @if $n < 2 { 
    @return $n;  
  } @else {
    @return fib($n - 1) + fib($n - 2);
  }
}
*/

/*
@function fib($n) {
  $a: 0; 
  $b: 1;
  @for $i from 1 through $n {
    $temp: $a;
    $a:    $b;
    $b:    $temp + $b;
  }
  @return $a;
}
*/

@function sizer($n) {
  $v: 1;
  @while $n > 0 {
    $v:    $v * 1.33;
    $n:    $n - 1;
  }
  @return $v;
}

@function scale1($n) {
  @return round(sizer($n) * 1) + px; 
}

@function scale2($n) {
  @return round(sizer($n) * 1) + px; 
}

@mixin grid-50-50 {
  @media (min-width: $screen-mid) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: scale1(14);
  }
}

@mixin wrapper-mid {
  max-width: 640px; 
  margin-left: auto;
  margin-right: auto;
}

@mixin wrapper-big {
  max-width: 1200px; 
  margin-left: auto;
  margin-right: auto;
}

@mixin monoblock {
  font-size: 0.9em;
  font-family: $monospace;
  
  @media screen and (max-width: $screen-sml) {
    font-size: 0.8em;
  }
}

@mixin standard-margin {
  margin-top: scale1(14);
  margin-bottom: scale1(14);
  @media (max-width: $screen-sml) {
    margin-top: scale2(14);
    margin-bottom: scale2(14);
  }
}