.topbar {
  @include wrapper-big; 
  display: flex;
  align-items: baseline; 
  font-size: $s;
  margin: 0 auto;
  padding: 1em 1em 0.75em;
  text-align: left;
  
  @media (max-width: $screen-sml) {
    font-size: $sm;
    padding: 1rem;
    text-align: left;
  }
}

.topbar--unit {
  color: $background-color;
  display: inline-block;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.075em;
  margin: 0;

  & :first-of-type {
    margin-right: 1em;
  } 
}

.topbar--unit--logo {
  display: inline-block;
  vertical-align: top;
}

.topbar--link-current {
  color: $orange;
}