p {
  font-size: 1rem;
  text-align: left;
  margin: 0 auto 1rem;
}

.p--big {
  font-size: $l;
  margin-top: $xl;
  margin-bottom: $xl;
  
  @media (max-width: $screen-sml) {
    font-size: $lm;
    margin-top: $lm;
    margin-bottom: $lm;
  }  
}

h1,
h2,
h3,
h4 {
  color: $black;
  font-weight: bold;
  margin: 1em 0; 
}

h1 a,
h2 a,
h3 a,
h4 a {
  color: $black;

}

h1, .h1-like {
  font-size: $xxl;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-top: $xxl;
  margin-bottom: $xl;

  @media (max-width: $screen-sml) {
    font-size: $xxlm;
    margin-top: $xxlm;
    margin-bottom: $xlm;
  }
}

h2, .h2-like {
  font-size: $l;
  line-height: 1.25;
  margin-top: $xl;
  margin-bottom: $s;
  
  @media (max-width: $screen-sml) {
    font-size: $lm;
    margin-top: $xlm;
    margin-bottom: $sm;
  }
}

h3, .h3-like {
  font-size: $m;
  line-height: 1.25;
  margin-top: $xl;
  margin-bottom: $m;
  
  @media (max-width: $screen-sml) {
    font-size: $mm;
    margin-top: $xlm;
    margin-bottom: $mm;
  }
}

h4, .h4-like {
  font-size: $s;;
  line-height: 1.5;
  margin-top: $xl;
  margin-bottom: $s;
  
  @media (max-width: $screen-sml) {
    font-size: $sm;
    margin-top: $xlm;
    margin-bottom: $sm;
  }
}

strong {
  font-weight: bold;
}

blockquote {
  border-left: 1px dotted $grey;
  margin: 0;
  padding-left: 1em;
}

pre {
  overflow-x: auto;
  margin: 1em 0;
}

pre,
code {
  @include monoblock;
}

.highlight {
  margin-bottom: 1em;
}

p code,
li code {
  color: $green;
  font-size: 0.8em;
  font-family: $monospace;
  padding: 0 0.25em;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.article {
  margin: 2em auto 3em;
}

.article--narrow {
  @include wrapper-mid;
  padding: 0 1em;
}

.date {
  font-size: $s;
  margin: $s 0;
  @media (max-width: $screen-sml) {
    font-size: $sm;
    margin: $sm 0;
  }
}

.secondary {
  color: $grey-dark;
}

.article-title {
  font-size: $xxl;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-top: 1em;
  margin-bottom: 1em;

  @media (max-width: $screen-sml) {
    font-size: $xxlm;
  }  
}

.article-title--video {
  font-size: $l;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.01em;
  margin-top: $l;
  margin-bottom: $s;

  @media (max-width: $screen-sml) {
    font-size: $lm;
    margin-top: $lm;
    margin-bottom: $sm;
  }   
}

small,
.small-txt {
  font-size: $s;

  @media screen and (max-width: $screen-sml) {
    font-size: $sm;
  }
}
