p {
  color: $text-color;
  font-size: 1rem;
  text-align: left;
  margin: 0 auto 1rem;
}

.p--big {
  font-size: scale1(11);
  margin-top: scale1(12);
  margin-bottom: scale1(12);
  
  @media (max-width: $screen-sml) {
    font-size: scale2(11);
    margin-top: scale2(11);
    margin-bottom: scale2(11);
  }  
}

h1,
h2,
h3,
h4, {
  color: $black;
  margin: 1em 0;
}

h1 a,
h2 a,
h3 a,
h4 a {
  color: $black;
}

h1, .h1-like {
  font-size: scale1(13);
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.01em;
  margin-top: scale1(13);
  margin-bottom: scale1(12);

  @media (max-width: $screen-sml) {
    font-size: scale2(13);
    margin-top: scale2(13);
    margin-bottom: scale2(12);
  }
}

h2, .h2-like {
  font-size: scale1(11);
  font-weight: 600;
  line-height: 1.25;
  color: $black;
  margin-top: scale1(12);
  margin-bottom: scale1(11);
  
  @media (max-width: $screen-sml) {
    font-size: scale2(11);
    margin-top: scale2(12);
    margin-bottom: scale2(11);
  }
}

h3, .h3-like {
  font-size: scale1(10);
  font-weight: 600;
  line-height: 1.25;
  margin-top: scale1(11);
  margin-bottom: scale1(10);
  
  @media (max-width: $screen-sml) {
    font-size: scale2(10);
    margin-top: scale2(11);
    margin-bottom: scale2(10);
  }
}

h4, .h4-like {
  font-size: scale1(10);;
  font-weight: 600;
  line-height: 1.5;
    margin-top: scale1(11);
    margin-bottom: scale1(10);
  
  @media (max-width: $screen-sml) {
    font-size: scale2(10);
    margin-top: scale2(11);
    margin-bottom: scale2(10);
  }
}

strong {
  font-weight: bold;
}

blockquote {
  border-left: 1px dotted $grey;
  margin: 0;
  padding-left: 1em;
}

pre {
  overflow-x: auto;
  margin: 1em 0;
}

@mixin monoblock {
  font-size: 0.9em;
  font-family: $monospace;
  
  @media screen and (max-width: $screen-sml) {
    font-size: 0.8em;
  }
}

pre,
code {
  @include monoblock;
}

.highlight {
  margin-bottom: 1em;
}

p code,
li code {
  color: $green;
  font-size: 0.8em;
  font-family: $monospace;
  padding: 0 0.25em;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.article {
  margin: 2em auto 3em;
}

.article--narrow {
  @include wrapper-mid;
  padding: 0 1em;
}

.date {
  font-size: scale1(9);
  margin: scale1(10) 0;
  @media (max-width: $screen-sml) {
    font-size: scale2(9);
    margin: scale2(10) 0;
  }
}

.secondary {
  color: $grey-dark;
}

.article-title {
  font-size: scale1(13);
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.01em;
  margin-top: scale1(14);
  margin-bottom: scale1(14);

  @media (max-width: $screen-sml) {
    font-size: scale2(13);
    margin-top: scale2(13);
    margin-bottom: scale2(13);
  }  
}

.article-title--video {
  font-size: scale1(12);
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.01em;
  margin-top: scale1(12);
  margin-bottom: scale1(11);   
}

small,
.small-txt {
  font-size: scale1(9);

  @media screen and (max-width: $screen-sml) {
    font-size: scale2(9);
  }
}
