$base-font-family:      "Source Sans Pro", sans-serif;
$monospace:             monospace;
$base-line-height:      1.5;

// colors
$text-color:          #383838;
$background-color:    #fffefd;
$black:               #222;
$white:               #fff;
$red:                 #ee1144;
$red-dark:            #aa2222;
$green:               #22aa00;
$green-dark:          #004010;
$green-light:         #33dd55;
$blue:                #2233dd;
$blue-dark:             darken($blue, 10%);
$blue-light:          #44aaee;
$blue-skye:           #cddddd;
$aquamarine:          #77ddff;
$purple:              #5500aa;
$purple-light:        #7700ff;
$grey:                #777;
$grey-light:            lighten($grey, 40%);
$grey-dark:             darken($grey, 10%);

$graphite:            #212121;
$yellow:              #ffee66;
$yellow-light:        #ffeedd;
$background-yellow:   #ffee99;
$orange:              #ff6622;
$orange-light:        #ff9922;
$orange-deep:         #dd4433;
$night:               #222233;
$sand:                #eee6dd;

// sceen sizes
$screen-big:            1024px;
$screen-mid:            768px;
$screen-sml:            568px;
