$base-font-family:      "Merriweather", serif;
$monospace:             "Dejavu Sans Mono", monospace;
$base-line-height:      1.6;

//
// font sizes in pixels; 'm' ending means 'mobile' (smartphone specific) 
//
$s: scale(9);
$m: scale(10);
$l: scale(11);
$xl: scale(12);
$xxl: scale(13);
$hero: scale(15);

// mobile (smaller) versions
$sm: scaleM(9);
$mm: scaleM(10);
$lm: scaleM(11);
$xlm: scaleM(12);
$xxlm: scaleM(13);

$radius: 4px; 


// colors
$text-color:          #383838;
$background-color:    #faf7f5;
$black:               #222;
$white:               #fff;
$red:                 #ee1144;
$red-dark:            #aa2222;
$green:               #22aa00;
$green-dark:          #004010;
$green-light:         #33dd55;
$lime:                #fdff80;
$blue:                #2233dd;
$blue-dark:             darken($blue, 10%);
$blue-light:          #44aaee;
$aquamarine:          #77ddff;
$purple:              #5500aa;
$purple-light:        #9966ee;
$grey:                #787878;
$grey-light:            lighten($grey, 40%);
$grey-dark:             darken($grey, 10%);
$grey-skye:           #a9baba;

$graphite:            #262428;
$yellow:              #ffee66;
$yellow-light:        #ffffaa;
$background-yellow:   #ffee99;
$orange:              #ff6622;
$orange-brown:        #cc5500;
$orange-light:        #ffddaa;
$orange-deep:         #dd4433;
$night:               #222255;
$sand:                #887755;

// sceen sizes
$screen-big:            1024px;
$screen-mid:            768px;
$screen-sml:            568px;
