.work--topbar {
//  background-color: $yellow; 
}

.work--masthead {
  color: $black;
  padding-top: 4em;
  padding-bottom: 6em;
  margin: 0 auto;
  @media (max-width: $screen-sml) {
    padding-top: 3em;
    padding-bottom: 4em;
  }
}

.work--masthead--content {
  @include wrapper-big;
  font-size: 1rem;
  padding: 0 1rem;
  text-align: center;
  max-width: 46rem;
  @media (max-width: $screen-sml) {
    padding: 0 1rem;
  }
}

.work--title {
  color: $black;
  font-size: $hero;
  font-weight: 600;
  line-height: 1;
  word-spacing: 0.025em;
  margin: 0;
  margin-bottom: 0.125em;
  
  @media (max-width: $screen-sml) {
    font-size: $xxlm;
    line-height: 1.1;
    margin-bottom: 0.25em;
  }
}

.work--paragraph-big {
  font-size: $l;
  line-height: 1.4;
  margin-bottom: 1em;
  
  @media (max-width: $screen-sml) {
    font-size: $lm;
  }
}

.work--body {
  @include wrapper-big;
  @include grid-50-50;
  padding: 0 1rem 0;

  @media (max-width: $screen-mid) {
    @include wrapper-mid;
  }
}

.work--miniarticle {
  margin-top: 0;
  margin-bottom: 4em;
}

.work--miniarticle--title {
  font-size: $l;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 1em;
  
  @media (max-width: $screen-sml) {
    font-size: $lm;
  }
}

.work--miniarticle p {
  font-size: $m;
  margin: 0;
  
  @media (max-width: $screen-sml) {
    font-size: $mm;

  }
}


.work--myname {
  @include wrapper-mid;
  padding: 0 1rem;
  margin-top: 1em;
  margin-bottom: 2em;
}

.work--contact {
  @include wrapper-mid;
  border-left: 0.33rem solid $orange;
  font-size: $xl;
  line-height: 1.1;
  margin-bottom: 4rem;
  padding: 0 1rem 0 0.66rem;

  @media (max-width: $screen-sml) {
    font-size: $m;

  }
}

.work--contact--title {
  font-size: $l;
  font-weight: bold;
  @media (max-width: $screen-sml) {
    font-size: $lm;
    margin-bottom: 0.25em;
  }
}

.work--contact--addr a {
  font-size: $l;
  @media (max-width: $screen-sml) {
    font-size: $mm;
  }
}

.work--highlight {
  color: $orange-deep;
}

.work--highlight-2 {
  color: $blue-light;
}

