.work {
}


.work--masthead {
  @include wrapper-big;
}

.work--masthead--content {
  font-size: 1rem;
  max-width: 820px;
  margin-top: scale1(14);
  margin-bottom: scale1(15);
  padding: 0 1rem;

  @media (max-width: $screen-sml) {
    padding: 0 1rem;
    margin-top: scale2(14);
    margin-bottom: scale2(15);
  }
}

.work--title {
  font-size: scale1(13);
  line-height: 1;
  margin-bottom: scale1(7);
  
  @media (max-width: $screen-sml) {
    font-size: scale2(13);
    margin-bottom: scale2(6);
  }
}

.work--paragraph-big {
  font-size: scale1(11);
  line-height: 1.4;
  margin-bottom: scale1(11);
  
  @media (max-width: $screen-sml) {
    font-size: scale2(11);
    margin-bottom: scale2(11);
  }
}

.work--body {
  font-size: 1rem;
  @include wrapper-big;
  @include grid-50-50;
  padding: 0 1rem;

  @media (max-width: $screen-mid) {
    @include wrapper-mid;
  }
}

.work--miniarticle {
  margin-top: 0;
  margin-bottom: scale1(14);

  @media (max-width: $screen-sml) {
    margin-top: 0;
    margin-bottom: scale2(13);
  }
}

.work--miniarticle--title {
  font-size: scale1(11);
  line-height: 1;
  margin-top: 0;
  margin-bottom: scale1(11);
  
  @media (max-width: $screen-sml) {
    font-size: scale2(11);
    margin-top: 0;
    margin-bottom: scale2(11);
  }
}

.work--miniarticle p {
  font-size: scale1(10);
  margin: 0;

  @media (max-width: $screen-mid + 1px) {
    font-size: scale2(10);
  }
  
  @media (max-width: $screen-sml) {
    font-size: scale2(10);

  }
}

.work--contact {
  @include wrapper-mid;
  border-left: 0.33rem solid $blue-light;
  font-size: scale1(12);
  line-height: 1.1;
  margin-top: scale1(12);
  margin-bottom: scale1(14);
  padding: 0 1rem 0 0.66rem;

  @media (max-width: $screen-sml) {
    font-size: scale2(11);
    margin-top: scale2(12);
    margin-bottom: scale2(14);
  }
}

.work--list li {
}

.work--contact--title {
  font-size: scale1(12);
  font-weight: bold;
  @media (max-width: $screen-sml) {
    font-size: scale2(11);
  }
  margin: 0;
}

.work--contact--addr a {
  color: $orange;
  font-size: scale1(11);
  @media (max-width: $screen-sml) {
    font-size: scale2(11);
  }
}

.work--highlight {
  color: $orange-deep;
}

.work--highlight-2 {
  color: $blue-light;
}

.work--myname {
  @include wrapper-mid;
  padding: 0 1rem;
}

