.work--text {
  font-size: fl(7);
  //@include space(margin, 0, auto, 10, auto);
  @include wrapper-mid;
  padding: 0 1em;
}

.work--title {
  font-size: fl(7);
  line-height: 1;
  // @include space(margin, 10, 0, 10, 0);
}

.work--contact {
  font-size: fl(7);
  //@include space(margin, 0, 0, 10, 0); 
  @include wrapper-mid;
  padding: 0 0.66em;
  border-left: 0.33em solid $blue-light;
}

.work--contact--content {

}

.work--contact--title {
  font-size: fl(9);
  margin: 0;
}

.work--contact--addr a {
  font-size: fl(7);
  color: $orange-deep;
}