.yesno {
  background-color: $sand; 
  @include wrapper-big;
  margin: 0 auto 3em;
}

@media (max-width: $screen-mid) {
  .yesno-screen-big {
    display: none;
  }

  .yesno-screen-sml {
    display: table;
  }
}

@media (min-width: $screen-mid) {
  .yesno-screen-big {
    display: table;
  }

  .yesno-screen-sml {
    display: none;
  }
}

.yesno--table {
  width: 100%;
  border-collapse: collapse; 
}

.yesno--table tr {
  border-bottom: 1px dotted $grey;
  &:last-of-type {
    border-bottom: none;
  }
}

.yesno li {
  margin-bottom: 0.5em;
}

.yesno li ul {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.yesno-screen-sml {
  margin: 0;
} 

.yesno-screen-big {
  
}  

.yesno-screen-big td:first-of-type,
.yesno-screen-big th:first-of-type {
  padding: 1em 1em 1em 0;
  width: 50%;
}

.yesno-screen-big td:last-of-type,
.yesno-screen-big th:last-of-type {
  padding: 1em 0 1em 1em;
  width: 50%;
}

.yesno-screen-sml td,
.yesno-screen-sml th {
  padding: 1em 0 1em 0;
  width: 100%;
}

.yesno--table li,
.yesno--table ul {
  margin-bottom: 0;
  margin-top: 0;
}

.yesno--block {
  flex: 1 1 0; 
  margin: 0 0 2em;
  min-width: 16em;
}

.yesno--title-yes,
.yesno--title-no {
  font-weight: bold;
  text-align: left;
}