.patterns {
  @include wrapper-big;
}

.patterns--section {
  margin-bottom: 3em; 
}

.patterns--title {
  background-color: $grey-light; 
  color: $grey;
  font-size: 1.25em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 2em 0 1.2em;
  padding: 0 0.8em;
}

.patterns--note {
  color: $grey;
  padding: 0 1em;
  margin: 1em 0;
}


