{{ partial "header.html" . }}

{{ partial "navbar.html" . }}

{{ partial "masthead.html" . }}

<div class="home-main">
<div class="home-left">

<h2 class="section-title">Recently on <a  href="{{ .Site.BaseURL }}blog">Blog</a>:</h2>
<div class="post-list">
  {{ range (.Paginator 3).Pages }}
    <div class="post-list--date-top secondary"> {{ .Date.Format "Jan 2, 2006" }} </div>
    <h2 class="post-list--post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>

    {{ if in .Params.categories "nosummary" }}
      {{ .Content }}
    {{ else }}
      {{ .Summary }}
    {{ end }}

    {{ if .Truncated }}
    <a href="{{ .RelPermalink }}">Continue&#8230;</a>
    {{ end }}

  {{ end }}
 
  <h2><a class="next" href="{{ .Site.BaseURL }}blog">All Posts</a></h2>
</div>




</div>
<div class="home-right">

{{ partial "publs.html" . }}

<section  class=" ">
  <ul class="post-list post-list--short">
    <h3 class="list-title">Top 3 Posts</h3>
    <li>
    <a href="https://bart747.github.io/ui-coins/">Learning UI Design from Coins (on Contrast)</a>
    </li>
    <li>
    <a href="https://bart747.github.io/research-decision/">Research vs Making Decisions</a>
    </li>
    <li>
    <a href="https://bart747.github.io/henry-ford-for-makers/">Henry Ford for Makers: Quotes on Design</a>
    </li>
  </ul>
</section>
{{ partial "contact.html" . }}

</div>
</div>

{{ partial "footer.html" . }}
