.article {
  margin: 0 auto 1em;
}

.article--narrow {
  @include wrapper-mid;
  padding: 0.75em 1em 1em;

}

.article-title--video {
  font-size: $l;
  margin-top: 0.5em;
  @media (max-width: $screen-sml) {
    font-size: $s;
  }   
}

