button,
.button {
  font-size: 1em;
  display: inline-block;
  color: $black;
  cursor: pointer;
  background-color: lighten($sand, 30%);
  border: solid lighten($sand, 30%);
  border-width: 0.1em;
  border-radius: 8px;
  box-shadow: 0 1px 3px $grey-dark;
  outline: none; 
  padding: 0.4em 0.9em;
  text-align: center;
  margin: 0;
  max-width: 12em;
  transition: all 0.1s ease-out;

  &:hover { 
    border-color: $blue;
  }

  &:active { 
    box-shadow: none;
  }
}

.button--cta {
  @extend button;
  background-color: $blue-light;
  border: solid $blue-light;
}