button,
.button {
  font-size: 1em;
  display: inline-block;
  color: $black;
  cursor: pointer;
  background-color: transparent;
  border: solid $black;
  border-width: 2px 2px 4px;
  border-radius: 4px 4px 6px 4px;
  font-family: inherit;
  line-height: $base-line-height;
  outline: none; 
  padding: 0.5em 1em 0.2em;
  text-align: center;
  transition: all 0.1s ease-out;
  margin: 0;
  max-width: 12em;

  &:hover { 
    color: $orange;
  }

  &:active { 
    border-width: 2px 2px 2px;
    border-radius: 4px 4px 4px 4px;
    margin: 2px 0 0 ;
  }
}

.button--cta {
  @extend button;
  background: $blue-sky;
  border-color: $blue;

}