button,
.button {
  font-size: 1em;
  display: inline-block;
  color: $black;
  cursor: pointer;
  background-color: lighten($sand, 30%);
  border: solid $background-color;
  border-width: 0.1em;
  border-radius: 8px;
  background-image: linear-gradient(lighten($sand, 35%), lighten($sand, 30%), lighten($sand, 20%));
  outline: none; 
  padding: 0.4em 0.9em;
  text-align: center;
  margin: 0;
  max-width: 12em;
  transition: all 0.1s ease-out;

  &:hover { 
    border-color: $blue-light;
  }

  &:active { 
    background-image: none;
    box-shadow: 0 0 1px 0 $grey;
  }
}

.button--cta {
  @extend button;
  background-image: linear-gradient(lighten($blue, 35%), lighten($blue, 30%), lighten($blue, 20%));
}