$text-color:          #383838;
$background-color:    #faf7f5;
$background-color-light: #fffafa;
$code-color:          #305ea7;

$black:               #222;
$white:               #fff;
$red:                 #ee1144;
$red-dark:            #aa2222;
$green:               #22aa00;
$green-dark:          #004010;
$green-light:         #33dd55;
$lime:                #fdff80;
$blue:                #2233dd;
$blue-dark:             darken($blue, 10%);
$blue-light:          #44aaee;
$aquamarine:          #77ddff;
$purple:              #5500aa;
$purple-light:        #9966ee;
$grey:                #787878;
$grey-light:            lighten($grey, 40%);
$grey-dark:             darken($grey, 10%);
$grey-skye:           #a9baba;
$graphite:            #262428;
$yellow:              #ffee66;
$yellow-light:        #ffffaa;
$background-yellow:   #ffee99;
$orange:              #ff6622;
$orange-brown:        #cc5500;
$orange-light:        #ff7733;
$orange-deep:         #dd4422;
$night:               #222255;
$sand:                #998877;