@mixin grid-50-50 {
  @media (min-width: $screen-mid) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
  }
}


// flexbox grid
@mixin columns {
  .col {
    display: block;
    flex: 1 1 auto;
    flex-grow: 0;
    align-self: flex-start;
    margin: 0;
    margin-bottom: 1em;
  }

  .col-100 {
    flex-basis: 100%;
  }

  .col-50 {
    flex-basis: 50%;
  }

  .col-75 {
    flex-basis: 75%;
  }

  .col-25 {
    flex-basis: 25%;
  }

  .col-88 {
    flex-basis: 88%;
  }

  .col-12 {
    flex-basis: 12%;
  }


}

.grid.grid-fix {
  display: flex;
  justify-content: center;
  @include columns;
}

@media screen and (min-width: $screen-mid + 1px) {

  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: baseline;
    @include columns;
  }
  
}

@media (min-width: 1120px) {

  .blog-grid {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    height: 100%;
    justify-content: flex-start;
    align-content: baseline;
    @include columns;
    margin-bottom: 3em;
  }
  
}
