.hero {
  background-color: $sand-light;
  color: $blue-dark;
  line-height: 1.2;
  padding: 4rem 0 4rem;
  margin: 0 auto;
  text-align: center;
  //max-width: 1200px;
}

.hero__container {
  margin: 1rem 0;
}

.hero__grid-container {
  display: grid;
  grid-template-columns: 40% 55%;
  grid-column-gap: 5%;
  padding: 0;
  
}

.hero__name {
  font-weight: normal;
  margin: 0 0 1.2em;
  padding: 0 1rem;
}

.hero__name a {
  animation: 0.5s linear colorize;
  color: $orange-deep;
  text-decoration: none;
  &:hover {
    color: $orange-light;
  }
}

.hero__title--huge {
  font-size: 54px;
  color: inherit;
  font-weight: bold;
  margin: 0 1rem 1rem;
}

.hero__title {
  font-size: $l;
  font-weight: bold;
  line-height: 1.2;
  padding: 0 1rem;
}

.hero__title--colorized { // <span> element might be required
  color: $red; 
  padding: 0.25em 0.25em 0.1em;
}

.hero__navigation {
  font-weight: normal;
  list-style: none ;
  margin: 0;
  padding: 0 1rem 0;
}

.hero__navigation li {
  margin: 0 0 1.2em;
}

.hero__navigation li:last-child {
  margin: 0 0 0;
}

.hero__navigation a {
  color: $black;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: #777;
  
  &:hover {
    color: $orange-light;
  }
}

