.hero {
  background-color: $text-color;
  background: url('/img/nightskybkd.jpeg');
  font-size: $xs;
  line-height: 1.2;
  padding: 7rem 0;
}

.hero__container {
  margin: 1rem 0;
}

.hero__grid-container {
  display: grid;
  grid-template-columns: 40% 55%;
  grid-column-gap: 5%;
  max-width: 500px;
  padding: 0;
  
}

.hero__name {
  font-weight: normal;
  margin: 0 0 1.2em;
  padding: 0 1rem;
}

.hero__name a {
  animation: 0.5s linear colorize;
  color: $orange-deep;
  text-decoration: none;
  &:hover {
    color: $orange-light;
  }
}

.hero__title {
  color: white;
  font-size: inherit;
  font-weight: normal;
  line-height: 1.2;
  margin: 1.2em 0 0;
  padding: 0 1rem;
}

.hero__title--huge {
  font-size: $hero;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  color: white;
  margin: 0 1rem 1rem;
  line-height: 1;
  letter-spacing: -0.1em;
}

.hero__title--colorized { // <span> element might be required
  color: $lime; 
  background-color: #999;
  padding: 0.25em 0.25em 0.1em;
}

.hero__navigation {
  font-weight: normal;
  list-style: none ;
  margin: 0;
  padding: 0 1rem 0;
}

.hero__navigation li {
  margin: 0 0 1.2em;
}

.hero__navigation li:last-child {
  margin: 0 0 0;
}

.hero__navigation a {
  color: white;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: #777;
  
  &:hover {
    color: $orange-light;
  }
}

