.logo {
  background-color: transparent;
  color: $sand;
  font-size: $s;
  font-weight: bold;
  letter-spacing: -0.5px;
  text-align: left;  
  margin: 0;
  padding: 0.5em 1em;
  height: 2.5em;
}

.logo:hover {
  color: $orange-deep;
}

a.logo--link {
  text-decoration: none;
}