.logo {
  background-color: transparent;
  line-height: 0.75;
  margin: 0;
  padding: 1rem;
  text-align: left;  
}

a.logo--link {
  animation: 0.5s linear colorize;
  color: $orange-deep;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 1px;
  text-decoration: none;
  &:hover {
    color: $orange-light;
  }
} 
