a {
  color: $text-color;
  text-decoration: underline;
  text-decoration-color: $grey;
  transition: 0.1s ease-in;

  &:active, &:hover {
    color: $orange-deep;
  }

  @media print {
    color: $grey-dark;
  }
}

nav {
    margin: 0;
    padding: 0;
  }
  
.subnav {
  font-size: 1em;
  @include wrapper-mid;
  margin: 0 auto 3em;
  padding: 0 1em; 
}

.prev,
.next {
  margin: 0;
}

.old,
.new {
  margin: 0 1em;
}

.subnav--row {
  display: flex;
  flex-direction: row;
  line-height: 1.38;
  margin-bottom: 0.5em;
}

.subnav--tag {
  display: inline-block;
  min-width: 4em;
}