$base-font-family:      "IBM Plex Sans", serif;
$monospace:             "Dejavu Sans Mono", monospace;
$base-line-height:      1.5;


// function to increase font sizes according to a scale setup
// next lement is one third larger than previous
@function increaseSize($n) {
  $v: 1;
  @while $n > 0 {
    $v:    $v * 1.33;
    $n:    $n - 1;
  }
  @return $v;
}
  
@function scale($n) {
  @return round(increaseSize($n) * 1.1) + px; 
}
  
@function scaleM($n) {
  @return round(increaseSize($n) * 0.9) + px; 
}

// base font sizes in pixels; 
// 'scaleM' gives smaller values
// 'M' ending means 'mobile' (smartphone/narrow screen specific)  
$s:     scale(9);
$m:     scale(10);
$l:     scale(11);
$xl:    scale(12);
$xxl:   scale(13);
$hero:  scale(15);

$sm:    scaleM(9);
$mm:    scaleM(10);
$lm:    scaleM(11);
$xlm:   scaleM(12);
$xxlm:  scaleM(13);

// HTML element is used to set root values – 'rem' 
html {
  box-sizing: border-box;
  font-family: $base-font-family;
  font-size: $m;
  line-height: $base-line-height;
  
  @media (max-width: $screen-sml) {
    font-size: $mm;
  }

  margin: 0;
  padding: 0;
}

p {
  font-size: 1rem;
  text-align: left;
  margin: 0 auto 1rem;
}

.p--big {
  font-size: $l;
  margin-top: $xl;
  margin-bottom: $xl;
  
  @media (max-width: $screen-sml) {
    font-size: $lm;
    margin-top: $lm;
    margin-bottom: $lm;
  }  
}

h1,
h2,
h3,
h4 {
  color: $black;
  font-weight: bold;
  margin: 1em 0; 
}

h1 a,
h2 a,
h3 a,
h4 a {
  color: $black;

}

h1, .h1-like {
  font-size: $xxl;
  line-height: 1.1;
  letter-spacing: -0.01em;
  margin-top: $xxl;
  margin-bottom: $xl;

  @media (max-width: $screen-sml) {
    font-size: $xxlm;
    margin-top: $xxlm;
    margin-bottom: $xlm;
  }
}

h2, .h2-like {
  font-size: $l;
  line-height: 1.25;
  margin-top: $xl;
  margin-bottom: $s;
  
  @media (max-width: $screen-sml) {
    font-size: $lm;
    margin-top: $xlm;
    margin-bottom: $sm;
  }
}

h3, .h3-like {
  font-size: $m;
  line-height: 1.25;
  margin-top: $xl;
  margin-bottom: $m;
  
  @media (max-width: $screen-sml) {
    font-size: $mm;
    margin-top: $xlm;
    margin-bottom: $mm;
  }
}

h4, .h4-like {
  font-size: $s;;
  line-height: 1.5;
  margin-top: $xl;
  margin-bottom: $s;
  
  @media (max-width: $screen-sml) {
    font-size: $sm;
    margin-top: $xlm;
    margin-bottom: $sm;
  }
}

ul,
ol {
  padding: 0;
  margin: 0 0 1em;
}

ul li,
ol li {
  margin-left: 1em;
  margin-bottom: 0.25em;
}

li ol,
li ul {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

strong {
  font-weight: bold;
}

blockquote {
  border-left: 1px dotted $grey;
  margin: 0;
  padding-left: 1em;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.article {
  margin: 0 auto 3em;
}

.article--narrow {
  @include wrapper-mid;
  padding: 0 1em;
} 

.article--narrow-left {
  @include wrapper-mid;
  margin-left: 0; 
  padding: 0 1em;
}

.article--shortnote {
  background-color: $yellow-light;
  font-family: $monospace;
  padding: 1em;
}

.date {
  font-size: $s;
  margin: $s 0;
  @media (max-width: $screen-sml) {
    font-size: $sm;
    margin: $sm 0;
  }
}

.secondary {
  color: $grey-dark;
}

.article-title {
  margin-top: 1em;
  margin-bottom: 1em;
}

.article-title--video {
  font-size: $l;

  @media (max-width: $screen-sml) {
    font-size: $lm;
  }   
}

small,
.small-txt {
  font-size: $s;

  @media screen and (max-width: $screen-sml) {
    font-size: $sm;
  }
}
