
.masthead {
  @include wrapper-mid;
  margin: 3em auto;
  padding: 0 1em;
  text-align: center;
}

.masthead--title {
  font-size: 2.5em;
  line-height: 1;
  letter-spacing: -0.025em;
  margin: 0;
  //text-align: center;
  @media (max-width: $screen-sml) {
    font-size: 2em;
  }
}

.masthead--subtitle {
  font-size: 1.25em;
  font-weight: normal;
  font-style: italic;
  line-height: 1.25;
  letter-spacing: -0.025em;
  margin: 0.25em 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  //text-align: center;
  @media (max-width: $screen-sml) {
    font-size: 1em;
  }
}

