{{ partial "head.html" . }}


<div class="drip">
  {{ partial "mastheadMini.html" . }}

<section class="masthead drip--masthead">

  <div class="masthead--content drip--masthead--content">
    <div class="drip--logo">
      <!--
      <svg fill="#000000" height="70" viewBox="0 0 24 24" width="70" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0h24v24H0z" fill="#22aa00"/>
        <path d="M17 20.41L18.41 19 15 15.59 13.59 17 17 20.41zM7.5 8H11v5.59L5.59 19 7 20.41l6-6V8h3.5L12 3.5 7.5 8z"
        fill="white"/>
      </svg>
      -->
    <div>SimpleDrops</div>
    </div>
    <h1 class="drip--masthead--title">Send Drip Emails and See What Gives You Best Leads with Precise A/B Tests</h1>
    <h2 class="drip--masthead--subtitle">Free from Feature Bloat</h2>
  </div>
</section>

<section class="drip--cta">
  <button class="drip--cta--button">Try SimpleDrops Now</button>
</section>

<section class="drip-bullets">
<ul>
  <li>Constantly improve your lead nurturing skills with A/B tests.</li>
  <li>Categorize sign-ups with with smart, easy to create and paste subscription forms.</li>
</ul>
</section>


<section class="article--narrow drip--article">
<p>
  Constantly improve your lead nurturing skills.
  With SimpleDrops you will <b>see best combinations of calls to action and content</b>.
</p>
<p>
  Getting new clients and selling to someone who already bought something from you are two different things.
  SimpleDrops will never confuse these two situations. It gives you ability to <b>segment contacts</b> basing on how they were collected.
</p>
<p>
  SimpleDrops can see the difference between someone who subscribed after shopping or someone who was <i>just looking</i> without logging in.
  All that is based on tagged subscription forms. You can create many of them and each one will be treated differently.
</p>
</section> 

<section class="drip--cta">
  <button class="drip--cta--button">Try SimpleDrops Now</button>
</section>
<!--

<ul>
  <li>create forms</li>
  <li>copy codes</li>
  <li>SimpleDrops will segment contacts</li>
  <li>create sending schedule</li>
  <li>create content and calls to action (many versions for A/B tests)</li>
  <li>see what worked best</li>
  <li>improve your content and CTAs</li>
  <li>get better results</li> 
</ul>
-->


{{ partial "footer.html" . }}
</div>

