{{ partial "head.html" . }}
<div class="work">
{{ partial "mastheadMini.html" . }}

<div class="work--text">
  <h1 class="work--title">{{ .Title }}</h1>
  
  <p class="work--paragraph-big">
    There are many factors that make a product page design sell better.
    But there's only a few that repetitively give big impact.
  </p>

  <ul>
    <li>It's clarity of UI</li>
    <li>speed of getting the idea of USP by viewers (directing viewer's eyes right at the main premise first)</li>
    <li>speed of page load (Who likes to wait?)</li>
    <li>testability (easy to A/B test modules)</li>
    <li>not being pain in the ass for copywriters (simple layout)</li>
  </ul>

  <p class="work--paragraph-big">
    There are many factors that make a product page design sell better.
    But there's only a few that repetitively give big impact.
  </p>
  
</div>



<div class="work--contact">
  <h2 class="work--contact--title">Send me an email:</h2>
  <div class="work--contact--addr liame"></div>
</div>

{{ partial "footer.html" . }}

</div>