{{ partial "head.html" . }}

<nav id="nav" class="topbar">

    <div class="topbar--unit--logo">
        <a class="topbar--link" href="/">
            {{ partial "logo.html" . }}
        </a>    
    </div>

    <div class="nav-menu"></div>
        <div class="topbar--unit">
            <a class="topbar--link" href="/">
                About/Contact
            </a>
        </div>

        <div class="topbar--unit">
            <a class="topbar--link topbar--link-current" href="/blog">
                Blog
            </a>
        </div>
    </div>

</nav>

{{ partial "postList.html" . }}

{{ partial "footer.html" . }}