{{ partial "head.html" . }}

<div class="patterns">

<section class="patterns--section">
  <h2 class="patterns--title">navbar</h2>
  {{ partial "topbar.html" . }}
  <div class="patterns--note">The logo is a part of the navbar.
    If it's 'sticky' you'll see it in the top left corner.</div>
</section>

<section class="patterns--section">
  <h2 class="patterns--title">masthead</h2>
  {{ partial "masthead.html" . }}
</section>

<section class="patterns--section">
  <h2 class="patterns--title">yes/no, less/more</h2>
  {{ partial "yesno.html" . }}
</section>

<section class="patterns--section">
  <h2 class="patterns--title">article</h2>
  {{ partial "article.html" . }}
</section>

<section class="patterns--section">
  <h2 class="patterns--title">blog page list</h2>
  <div class="block blog--list post-list">
    <div class="post-list--post">
      <div class="date secondary"> Apr 5, 2017 </div>
      <h2 class="post-list--post-title"><a href="{{ .Site.BaseURL }}/resilient-ui/">5 Notes on How to Design a Resilient UI</a></h2>

      <h2 id="modularity">Modularity</h2>

      <p>The most interesting things happen once your software is in real use.
      That&rsquo;s when you can really see what&rsquo;s working and what to change.
      It brings us to the importance of modularity.</p>

      <a href="{{ .Site.BaseURL }}/resilient-ui/">Continue&#8230;</a>
    </div>

    <div class="post-list--post">
      <div class="date secondary"> Aug 19, 2016 </div>
      <h2 class="post-list--post-title"><a href="{{ .Site.BaseURL }}/ui-coins/">Learning UI Design from Coins (on Contrast)</a></h2>

      <p>Contrasts are one of key elements when it comes to usability. Lets take coins as an example.</p>
      <p>When it comes to look: at first glance you see differences in size, color (types of metals) and visual patterns.</p>
      <p>Feel in hand: some seem heavier, some lighter, some have different surfaces.</p>

      <a href="{{ .Site.BaseURL }}/ui-coins/">Continue&#8230;</a>

    </div>
  </div>
</section>

<section class="patterns--section">
  <h2 class="patterns--title">contact block</h2>
  {{ partial "email.html" . }}
</section>

<section class="patterns--section">
  <h2 class="patterns--title">footer</h2>
  {{ partial "footer.html" . }}
</section>
    
</div>