{{ partial "headExperiments.html" . }}

{{ partial "logo.html" . }}


<div class="article article--narrow">
    <h1 class="experiments--title">{{ .Title }}</h1>

    {{ .Content }}

    <form>
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname">
    </form>
    <hr>
    <form>
        <input type="text" id="custom-field" name="custom-field">

    </form>
</div>

{{ partial "footer.html" . }}