{{ partial "header.html" . }}

{{ partial "navbar.html" . }}

<section class="article wrapper-small">

  <div class="date secondary"> {{ .Date.Format "Jan 2, 2006" }} </div>
  <h1 class="article-title">{{ .Title }}</h1>
  
  {{ .Content }}

</section>

<section class="subnav wrapper-small">
  <div>
    {{ if .Prev }}
      prev: <a class="previous" href="{{.Prev.Permalink}}"> {{.Prev.Title}}</a>
      <br>
    {{ end }}
    
    {{ if .Next }}
      next: <a class="next" href="{{.Next.Permalink}}"> {{.Next.Title}}</a>
    {{ end }}
  </div>
</section>

{{ partial "footer.html" . }}
