#cpm hr {
  padding: 0.5em;
}

.cpm--form {
  max-width: 340px;
}

.cpm--form__dark {
  background-color: #afaa99;
  padding: 1em;
}

.cpm--input {
  font-size: 1em;
  padding: 17px;  
  border-radius: 3px;
  border-width: 1px;
  border-color: gray;
  margin-bottom: 1em;
  width: 100%;
}

.cpm-textarea {
  width: 100%;
  padding: 0.75em;
  border-radius: 3px;
  border-width: 1px;
  border-color: gray;
  font-size: 1em;
  min-height: 6em;
}

input[type="file"]#file-upload { 
  display: none;
}

.cpm--file-list {
  list-style: georgian;
}

#cpm--file-list {
  list-style: none;
  padding: none;
}

#cpm--file-list li {
  font-size: 0.9em;
  font-style: italic;
  line-height: 1.2;
  margin: 0 0 0.75em;
  padding: 0;
}
