<section class="article">

    {{ if in .Params.categories "video" }}
    <div class="wrapper--media-background-top">
        <div class="wrapper--media">
            <div class="video">
                <iframe src="{{ .Params.video }}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    {{ end }}

    <div class="article--narrow">
        {{ if in .Params.categories "video" }}
        <h1 class="article-title article-title--video">{{ .Title }}</h1>
        <div class="date secondary">
            {{ .Date.Format "Jan 2, 2006" }} | {{ .Params.videotime }}
        </div>
        {{ else }}
        <div class="date secondary"> {{ .Date.Format "Jan 2, 2006" }} </div>
        <h1 class="article-title">{{ .Title }}</h1>
        {{ end }}

        {{ .Content }}

        <div class="center">&#10086;</div>
    </div>

    
</section>

<section class="subnav">
    {{ if .Params.similarURL }}
    <div class="subnav--tag">You might like:</div>
    <div>
        <h2 class="post-list--post-title"><a class="similar" href="{{ .Site.BaseURL }}/{{ .Params.similarURL }}"> {{ .Params.similarTitle }}</a></h2>
    </div>
    {{ end }}
</section>