<section class="article wrapper-small">

  <div class="date secondary"> {{ .Date.Format "Jan 2, 2006" }} </div>
  <h1 class="article-title">{{ .Title }}</h1>
  
  {{ .Content }}

</section>

<section class="subnav">
  <div class="subnav--line">
    {{ if .PrevInSection }}
      <div class="subnav--tag">prev: </div>
      <div><a class="previous" href="{{.PrevInSection.Permalink}}"> {{.PrevInSection.Title}}</a></div>
    {{ end }}
  </div>
  <div class="subnav--line">
    {{ if .NextInSection }}
      <div class="subnav--tag">next: </div>
      <div><a class="next" href="{{.NextInSection.Permalink}}"> {{.NextInSection.Title}}</a></div>
    {{ end }}
  </div>
</section>