{{ partial "logo.html" . }}

<section class="post-list">

    {{ range (where .Data.Pages "Section" "blog") }}

    <div class="post-list--post">

        <div class="article--narrow-left">

            <div class="date post-list--date secondary">
                {{ .Date.Format "Jan 2, 2006" }}
                {{ if in .Params.categories "video" }}
                    <i class="marker--video">video</i>
                {{ end }}
            </div>
            <h2 class="post-list--post-title">
                <a href="{{ .Permalink }}">
                    {{ .Title }}
                </a>
            </h2>
            {{ if .Params.subtitle }}
                <h3 class="post-list--post-subtitle">
                    {{ .Params.subtitle }}
                </h3>
            {{ end }}

        </div>
    </div>
    {{ end }}

</section>