<footer>
    <div>
        <ul class="list--contacts">
            <li>
                <div class="list-contacts-tag">email:&nbsp;</div>
                <div class="liame"></div>
            </li>
            <li>
                <div class="list-contacts-tag">github:&nbsp;</div>
                <div><a href="https://github.com/bart747">bart747</a></div>
            </li>
            <li>
                <div class="list-contacts-tag">twitter:&nbsp;</div>
                <div><a href="https://twitter.com/bwhimself">bwhimself</a></div>
            </li>
        </ul>
    </div>
    <div class="footer--copyrights">
        &copy;2016-2020 Bartosz Wieczorek.
        <a href="https://creativecommons.org/licenses/by/3.0/">
            Some rights reserved
        </a>
        &mdash; please attribute and link back.
    </div>
    <div class="footer--link-top">
        <a href="#top">
            <button class="button--blue">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24">
                    <path fill="none" d="M0 0h24v24H0V0z"/>
                    <path fill="#ff6622" d="M8 11h3v10h2V11h3l-4-4-4 4zM4 3v2h16V3H4z"/>
                </svg>
                top &nbsp;
            </button>
        </a>
    </div>
    <div id="app">
      
    </div>
    
</footer>
</div><!-- end of id="allwrapper" -->
{{ $js := resources.Get "js/main-bundle.js" }}
{{ $secureJS := $js | resources.Fingerprint }}
{{ $jsMap := resources.Get "js/main-bundle.js.map" }}
<script src="{{ $secureJS.Permalink }}" data-srcmap="{{ $jsMap.Permalink}}"></script>
</body>
</html>
