<header class="hero">
  <div class="hero__container">
    <h1 class="hero__title--huge">Figure Out How to Create<br> <span class="hero__title--colorized">Lasting</span> Content<br> that Pays Dividends</h1>
    <div class="">
      <div>
        <div class="hero__name"><a href="/"></a></div>
        <h1 class="hero__title"><span class=" ">code + visual design</span></h1>
      </div>
      <!--
      <nav>
        <ul class="hero__navigation">
          <li><a href="">how I work</a></li>
          <li><a href="">work examples</a></li>
          <li><a href="">contact</a></li>
        </ul>
      </nav>
      -->
    </div>
  </div>
</header>
