
<div class="home-content">

<section class="block--extra">

  <section class="block wrapper-small">

    <h2 class=" ">Modularity</h2>

    <p>
      The most interesting things happen once your software is in the wild and people are using it.
      That's when you can really see what's working and what to change.
    </p>
        
    <p>
      When your interface is easy to rearrange &mdash; modular &mdash; you can adjust to the real world
      without tedious redesigns:
      <ol>
        <li>
          You can <span class="home-highlight">just swap UI modules</span> in an HTML or template file.
      </li>
        <li>
          You can <span class="home-highlight">edit a module that has its own file.</span>
          No need to dig into complex code that's responsible for many things.
        </li>
      </ol>
    </p>

  </section>

  <section class="block wrapper-small">

    <h2 class=" ">Embrace Foundations</h2>

    <p>
      If I need to pick between working on something essential  or adding bells and whistles, I pick essentials.
      It's just hard to be really good at all of them, so why even focus on <i>nice to haves</i>?
    </p>
    <p>
      Working extra on things like <span class="home-highlight">clarity (intuitiveness, readability) and load speed
      will give you more than any neophiliac thing.</span>
    </p>

  </section>


  <section class="block wrapper-small">

    <h2 class=" ">Simplicity is Tricky</h2>

    <p>
      It's easy to achieve perceived simplicity and pay for it with real complexity.
      For instance, you can make a UI that your users will appreciate,
      but you'll pay severely with code editing difficulties.
    </p>
    <p>
      Real simplicity of an interface means <span class="home-highlight">neat visuals with clear implementation.</span> 
      To achieve that, you often need to sacrifice some non-crucial features.
    </p>
     
  </section>  

  <section class="block wrapper-small">

    <h2 class=" ">Smooth Interactions</h2>
    
    <p>
      There's overwhelming variety of internet browsing devices on the market.
      We need to think about what will make the product work
      <span class="home-highlight">smoothly on a cheap hardware and half-decent wi-fi</span>.
      People will often use your stuff at train stations, airports and in restaurants.
    </p>
    
 
  </section>

  <section class="block wrapper-small">

    <h2 class=" ">Words Win</h2>
    
    <p>
      People say “a picture is like 1000 words”.
      But a picture will not make a proposition as clear and simple as a well designed sentence.
      That's why I like typography. 
      <span class="home-highlight">Good typography is a tool to achieve clarity.</span>
    </p>
 
  </section>

</section>

<section class="block wrapper-small">
  <div class="big-quote">
    “This site should load slower.”
    <br>
    “It's not complicated enough.”
    <div class="big-quote--name">No One Ever</div>
  </div>
</section>

</div>