<nav id="nav top" class="topbar work--topbar">

    <div class="topbar--content">
        <div class="topbar--unit--logo">  
        </div>

        <div class="nav-menu"></div>
            <div class="topbar--unit">
                <a class="topbar--link" href="/">
                    Blog
                </a>
            </div>
            <div class="topbar--unit">
              <a class="topbar--link topbar--link-current" href="/howiwork">
                  About/Contact
              </a>
            </div>
        </div>
    </div>

</nav>

<div class="work--masthead">
  <div class="work--masthead--content">
  <h1 class="work--title">
    It's about how to not disappear as avarege.  
  </h1>
  </div>
</div>

<div class="work--body">

    <section class="work--miniarticle">

      <h2 class="work--miniarticle--title">Modular, Easy to Test and Rearrange</h2>

      <p class="">
        All patterns like a headline, a call to action button or a gallery
        are in a form of modules that can be rearranged.
        They look good in any order.
        No need need to write additional code to change a page structure.
      </p>

    </section>

    <section class="work--miniarticle">

      <h2 class="work--miniarticle--title">Just What's Needed</h2>

      <p class="">
        <i>Does it *really* matter</i> is a great question to ask yourself over and over again.  
        Lets get rid of those fancy animations and illustrations that don't do anything except looking cool.
        It will make your message clearer and code more reliable.
      </p>

    </section>

    <section class="work--miniarticle">

      <h2 class="work--miniarticle--title">Typography</h2>

      <p class="">
      People say “a picture is like a thousand words”, but very often it's a very vague way of presenting information. 
      When you need to be precise, well designed phrases and clean text are the key. That's why I like typography.
      </p>

    </section>

    <section class="work--miniarticle">

      <h2 class="work--miniarticle--title">Vanilla JavaScript</h2>

      <p class="">
        Scripts are small and to the purpose. I use pure functions a lot. I don't like inheritance.
        Things are kept in high composability – like a simple code library.
        It helps in testing different ideas without a lot of code editing. 
      </p>

    </section>

</div>

<div class="work--myname">
  <p>My name is Bartosz Wieczorek.
  <br><span class="secondary">(pronunciation: Bartosh Vietchorek)</span>
  </p>
</div>

<div class="work--contact">
  <div class="work--contact--title">Send me an email:</div>
  <div class="work--contact--addr liame"></div>
</div>
