<nav id="nav">
  
<a class="nav--logo" href="{{ .Site.BaseURL }}">
<svg
  xmlns="http://www.w3.org/2000/svg"
  version="1.1"
  viewBox="0 0 400 400"
  id="svg-logo">

  <path
     d="m 110,230.00001 90,119.99998 90,-119.99998 0,-180 -10,0 0,175 -55,75 -35,0 -20,-75 0,-83.27376 0,-32.65874 0,-59.0675 -60,0 z"
     id="svg-logo--path"
     style="fill:#000000;fill-opacity:1;stroke:none" />
  <path
     d="m 260,75 a 25,25 0 1 1 -50,0 25,25 0 1 1 50,0 z"
     transform="matrix(1.2,0,0,1.2,-57,-10)"
     id="svg-logo--path2"
     style="fill:#000000;fill-opacity:1;stroke:none" />
  <path
     d="m 245,160 a 20,20 0 1 1 -40,0 20,20 0 1 1 40,0 z"
     id="svg-logo--path3"
     style="fill:#000000;fill-opacity:1;stroke:none" />
</svg>
</a>

</nav>