

<section class="post-list">
  {{ $paginator := .Paginate (where .Data.Pages "Type" "blog") 7 }}
  {{ range $paginator.Pages }}
    <div class="article post-list--post">
      <div class="article--narrow">
        <h2 class="post-list--post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      </div>

      {{ if in .Params.categories "video" }}
        {{ range .Params.video }}
          <div class="wrapper--media-background">
            <div class="wrapper--media"> 
              <div class="video">
                <iframe src="{{ . }}" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        {{ end }}
      {{ end }}
      
      <div class="article--narrow">

        {{ if in .Params.categories "nosummary" }}
          {{ .Content }}
        {{ else }}
          {{ .Summary }}
        {{ end }}

        {{ if .Truncated }}
        <div class="post-list--post--continue">
          <a href="{{ .RelPermalink }}">Continue&#8230;</a>
        </div>
        {{ end }}
        <div class="date secondary"> {{ .Date.Format "Jan 2, 2006" }} </div>
      </div>
    </div>
  {{ end }}
</section>

<section class="block subnav center">
  {{ if .Paginator.HasPrev }}     
    <a class="old" href="{{ .Paginator.Prev.URL }}">newer posts</a>
  {{ end }}

  {{ if .Paginator.HasNext }}     
    <a class="new" href="{{ .Paginator.Next.URL }}">older posts</a>
  {{ end }}
</section>