<section  class="block">
  <h3 class="list-title">Top Picks</h3>

  <ul class="list--small">
    <li>
      <a href="/ui-coins/">Learning UI Design from Coins (on Contrast)</a>
    </li>
    <li>
      <a href="/research-decision/">Research vs Making Decisions</a>
    </li>
    <li>
      <a href="/henry-ford-for-makers/">Henry Ford for Makers: Quotes on Design</a>
    </li>
  </ul>
</section>

<section  class="block">
  <h3 class="list-title">UI Design</h3>

  <ul class="list--small">
    <li>
      <a href="/esilient-ui/">5 Notes on How to Design a Resilient UI</a>
    </li>
    <li>
      <a href="/maintainable-ui/">Maintainable UI: How to Improve Code Editing with SASS</a>
    </li>
    <li>
      <a href="/ui-coins/">Learning UI Design from Coins (on Contrast)</a>
    </li>
  </ul>
</section>