<nav id="nav" class="topbar">

    <div class="topbar--unit--logo">
        <a class="topbar--link" href="{{ .Site.BaseURL }}">
            {{ partial "logo.html" . }}
        </a>    
    </div>

    <div class="nav-menu"></div>
        <div class="topbar--unit">
            <a class="topbar--link" href="{{ .Site.BaseURL }}">
                About/Contact
            </a>
        </div>

        <div class="topbar--unit">
            <a class="topbar--link" href="{{ .Site.BaseURL }}/blog/">
                Blog
            </a>
        </div>
    </div>

</nav>

