<section class="yesno">

  <div class="yesno--block block">
    <div class="yesno--title-no">NO to:</div>

    <ul>
      <li class=" ">
        low usability, resource heavy widgets: 
        
        <ul>
          <li>photo carousels</li> 
          <li>parallax scrolling</li>
        </ul>
      </li>

      <li class=" ">
        crowded spaces
      </li>

      <li class=" ">
        convoluted code: hard to edit/swap/remove
      </li>
    </ul>
  </div>

  <div class="yesno--block block">
    <div class="yesno--title-yes">YES to:</div>

    <ul>
      <li class=" ">
        optimizing for conversions and product positioning
      </li>

      <li class=" ">
        great 'load speed/visual engagement' balance: 
        <ul>
          <li>light animations</li>
          <li>clear typography</li>
        </ul>
      </li>

      <li class=" ">
        modular code: easy to edit/swap/remove containers
      </li>
    </ul>

  </div>

</section>