<section class="yesno">

<table class="yesno--table yesno-screen-big">
  <tbody>
    <thead>
      <tr>
        <th> <div class="yesno--title-no">NO to:</div></th>
        <th><div class="yesno--title-yes">YES to:</div></th>
      </tr>
    </thead>

    <tr>
      <td>
        low usability, resource heavy widgets: 
        <ul>
          <li>photo carousels</li> 
          <li>parallax scrolling</li>
        </ul>
      </td>

      <td>
        great 'load speed/visual engagement' balance: 
        <ul>
          <li>light animations</li>
          <li>clear typography</li>
        </ul>        
      </td>
    </tr>

    <tr>
      <td>
        many options — no clear goal
      </td>
      <td>
        minimalist UI made with conversions and positioning in mind
      </td>
    </tr>

    <tr>
      <td>
        convoluted code:<br>hard to edit/swap/remove
      </td>
      <td>
        modular code:<br>easy to edit/swap/remove containers
      </td>
    </tr>

    <tr>
      <td>
        aesthetics first
      </td>
      <td>
        functionality first (aesthetics second)
      </td>
    </tr>

  </tbody>
</table>

<table class="yesno--table yesno-screen-sml">
  <tbody>
    <thead>
      <tr>
        <th> <div class="yesno--title-no">NO to:</div></th>
      </tr>
    </thead>

    <tr>
      <td>
        low usability, resource heavy widgets: 
        <ul>
          <li>photo carousels</li> 
          <li>parallax scrolling</li>
        </ul>
      </td>
    </tr>

    <tr>
      <td>
        crowded spaces without strategy
      </td>
    </tr>

    <tr>
      <td>
        convoluted code:<br>hard to edit/swap/remove
      </td>
    </tr>

    <tr>
      <td>
        aesthetics first
      </td>
    </tr>

  </tbody>
</table>

<table class="yesno--table yesno-screen-sml">
  <tbody>
    <thead>
      <tr>
        <th><div class="yesno--title-yes">YES to:</div></th>
      </tr>
    </thead>

    <tr>
      <td>
        great 'load speed/visual engagement' balance: 
        <ul>
          <li>light animations</li>
          <li>clear typography</li>
        </ul>        
      </td>
    </tr>

    <tr>
      <td>
        chunky UI made with conversions and product positioning in mind
      </td>
    </tr>
    <tr>
      <td>
        modular code:<br>easy to edit/swap/remove containers
      </td>
    </tr>

    <tr>
      <td>
        functionality first (aesthetics second)
      </td>
    </tr>

  </tbody>
</table>

</section>